<!DOCTYPE html>

<html lang="pt-br">

	<head>
	
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../_css/cadastroUsuario.css"/>
		
		<title> Cadastro de Usuário </title>
	
	</head>
	
	<body>
	
		<nav>
				
			<ul>
				
				<li> <!-- <img src="../../img/LogoGoogle.png"/> --> </li>
				<li><a href="index.html">Página inicial</a></li>
				<li><a href="nossaHistoria.html">Nossa história</a></li>
				<li><a href="eventos.html">Eventos</a></li>
				<li><a href="login.html">Acesso</a></li>
					
			</ul>
				
		</nav>
		
		<div class="linhaH"></div>
		
		<main>

			<h1> Cadastro de Usuário </h1>

			<form action="#" method="post">
			
				<fieldset id="f1">
				
					<legend> Dados Pessoais </legend>
					
					<div>
					
						<label>Nome Completo*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>CPF</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Data de nascimento*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Telefone*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div class="divCentro">
					
						<label>Estatus de relacionamento*</label> <br>
						<input type="radio" name="relacionamento" value="Solteiro(a)"/>Solteiro(a)
						<input type="radio" name="relacionamento" value="Casado(a)"/>Casado(a)
						<input type="radio" name="relacionamento" value="Viúvo(a)"/>Viúvo(a)
					
					</div>
					
					<div class="divCentro">
					
						<label>Sexo*</label> <br>
						<input type="radio" name="sexo" value="Masculino"/> Masculino
						<input type="radio" name="sexo" value="Feminino"/> Feminino
					
					</div>
					
					<div class="divCentro">
					
						<label>Quantidade de filhos</label> <br>
						<select name="select">
							<option value="Masculino">-- Selecione --</option> 
							<option value="0">0</option> 
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option> 
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option> 
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option> 
						</select>
					
					</div>
					
					<div class="divCentro">
					
						<label>Possui algum responsável?*</label> <br>
						<input type="radio" name="responsavel" value="Sim"/> Sim
						<input type="radio" name="responsavel" value="Não"/> Não
					
					</div>
					
				
				</fieldset>
				
				<fieldset id="f2">
				
					<legend> Endereço </legend>
					
					</div>
					
					<div>
					
						<label>Estado*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Cidade*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Bairro*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>CEP*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Rua*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Complemento*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Número*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
				
				</fieldset>
				
				<fieldset id="f3">
				
					<legend> Acesso </legend>
					
					<div>
					
						<label>Nome de acesso*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Email*</label> <br>
						<input type="text" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Senha*</label> <br>
						<input type="password" class="txt" name="txtNomeUsuario"/>
					
					</div>
					
					<div>
					
						<label>Repetir a senha*</label> <br>
						<input type="password" class="txt" name="txtNomeUsuario"/>
					
					</div>
				
				</fieldset>
				
				<button type="submit" form="form" class="btn">Cadastrar</button>
			
			</form>
			
		</main>
	
	</body>

</html>