<!DOCTYPE html>

<html lang="pt-br">

	<head>
	
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../_css/evento.css"/>
		
		<title>Evento X</title>
	
	</head>
	
	<body>
	
		<header>			
			
			<!-- <div class="linhaVertical1"></div> -->
		
			<nav>
				
				<ul>
				
					<li> <!-- <img src="../../img/LogoGoogle.png"/> --> </li>
					<li><a href="index.html">Página inicial</a></li>
					<li><a href="nossaHistoria.html">Nossa história</a></li>
					<li><a href="eventos.html">Eventos</a></li>
					<li><a href="login.html">Acesso</a></li>
					
				</ul>
				
			</nav>
			
			<main>
				<div id="texto">
					<h1>Nome do evento</h1>
					<h2>DATA / LOCAL</h2>
				
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper facilisis erat, id pellentesque lorem efficitur nec. Nam vehicula et metus id pretium. Duis purus ipsum, finibus non arcu quis, volutpat sodales nisi. Phasellus porttitor rutrum nisi sed malesuada. Ut id nisi eget nibh accumsan ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi porttitor nisi non nulla vulputate malesuada. Quisque egestas ante bibendum purus ultrices, quis pellentesque dolor euismod. Sed vitae commodo mauris. Ut malesuada metus sed risus porta, porta faucibus tortor vestibulum. Etiam vel velit finibus, dapibus orci vitae, consectetur augue. Mauris sit amet lectus mattis, rhoncus tortor ac, bibendum metus. Morbi suscipit nibh in sodales volutpat.
				
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper facilisis erat, id pellentesque lorem efficitur nec. Nam vehicula et metus id pretium. Duis purus ipsum, finibus non arcu quis, volutpat sodales nisi. Phasellus porttitor rutrum nisi sed malesuada. Ut id nisi eget nibh accumsan ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi porttitor nisi non nulla vulputate malesuada. Quisque egestas ante bibendum purus ultrices, quis pellentesque dolor euismod. Sed vitae commodo mauris. Ut malesuada metus sed risus porta, porta faucibus tortor vestibulum. Etiam vel velit finibus, dapibus orci vitae, consectetur augue. Mauris sit amet lectus mattis, rhoncus tortor ac, bibendum metus. Morbi suscipit nibh in sodales volutpat.
					
					<br>
					<br>
				
					<button>Participar</button>
				
				</div>
			
				<div id="imagem">
					<img src="https://vaipraruamenino.files.wordpress.com/2013/01/dsc_0198_crianca_brincando_no_parque_13_de_maio_no_dia_das_criancas__foto_rafa_oliveira.jpg"/>
				</div>
			</main>
			
			<div class="linhaH"></div>
			
			<footer>
				<img src="https://vaipraruamenino.files.wordpress.com/2013/01/dsc_0198_crianca_brincando_no_parque_13_de_maio_no_dia_das_criancas__foto_rafa_oliveira.jpg"/>
				<img src="https://vaipraruamenino.files.wordpress.com/2013/01/dsc_0198_crianca_brincando_no_parque_13_de_maio_no_dia_das_criancas__foto_rafa_oliveira.jpg"/>
				<img src="https://vaipraruamenino.files.wordpress.com/2013/01/dsc_0198_crianca_brincando_no_parque_13_de_maio_no_dia_das_criancas__foto_rafa_oliveira.jpg"/>
				<img src="https://vaipraruamenino.files.wordpress.com/2013/01/dsc_0198_crianca_brincando_no_parque_13_de_maio_no_dia_das_criancas__foto_rafa_oliveira.jpg"/>
			</footer>
		
		</header>
		
		
		
	
	</body>

</html>