<!doctype html>

<html lang="pt-br">

	<head>
	
		<meta charset="utf-8"/>
		<title>Página inicial</title>
		<link rel="stylesheet" type="text/css" href="../_css/index.css"/>

	</head>

	<body>
	
		<header>			
			
			<!-- <div class="linhaVertical1"></div> -->
		
			<nav>
				
				<ul>
				
					<li> <!-- <img src="../../img/LogoGoogle.png"/> --> </li>
					<li><a href="#">Página inicial</a></li>
					<li><a href="nossaHistoria.html">Nossa história</a></li>
					<li><a href="eventos.html">Eventos</a></li>
					<li><a href="login.html">Acesso</a></li>
					
				</ul>
				
			</nav>
		
		</header>
		
		<main>
					
			<hgroup>
				<h1>Comunidade Deus conosco</h1>
				<h2>Nome da edição</h2>
				<h3>Subtítulo</h3>
			</hgroup>
			
			<div class="linhaHorizontal2"></div>

			<div id="data">
				04 - 14 Abril 2020
			</div>
			
			<div id="local">
				Faculdade nova roma
			</div>
			
			<a href="evento.html"><button>Participar</button></a>
		
		</main>
	
	</body>

</html>