<!DOCTYPE html>

<html lang="pt-br">

	<head>
	
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../_css/login.css"/>
	
		<title>Login</title>
	</head>
	
	<body>
	
		<nav>
				
			<ul>
				
				<li> <!-- <img src="../../img/LogoGoogle.png"/> --> </li>
				<li><a href="index.html">Página inicial</a></li>
				<li><a href="nossaHistoria.html">Nossa história</a></li>
				<li><a href="eventos.html">Eventos</a></li>
				<li><a href="#">Acesso</a></li>
					
			</ul>
				
		</nav>
		
		<div class="linhaH"></div>
		
		<main>
		
			<form action="sobre.html" class="login-form">
				<h1>Login</h1>
				<div class="input-text">
					<input name="login" type="text" placeholder="Usuário">
				</div>
				<div class="input-text">
					<input name="password" type="password" placeholder="Senha">
				</div>
				<a href="painelAdm.html"> <input type="button" class="login-btn" value="Logar"/> </a>
				<div class="bottom-text">
					Não possui uma conta? <a href="cadastroUsuario.html">Cadastre-se</a>
				</div>
			</form>
		
		
			<!-- <div id="BlocoLogin">
				<label for="lblNome">Nome</label>
				<input type="text" id="txtNome"/>
			</div>
			
			<div id="BlocoSenha">
				<label for="lblNome">Senha</label>
				<input type="password" id="txtSenha"/>
			</div> -->
			
			
		</main>
	
	</body>

</html>