<!doctype html>

<html lang="pt-br">

	<head>
	
		<meta charset="utf-8"/>
		<title>Nossa História</title>
		<link rel="stylesheet" type="text/css" href="../_css/nossaHistoria.css"/>

	</head>

	<body>
	
		<header>			
		
			<nav>
				
				<ul>
				
					<li> <!-- <img src="../../img/LogoGoogle.png"/> --> </li>
					<li><a href="index.html">Página inicial</a></li>
					<li><a href="#">Nossa história</a></li>
					<li><a href="eventos.html">Eventos</a></li>
					<li><a href="login.html">Acesso</a></li>
					
				</ul>
				
			</nav>
			
			<div id="linhaHorizontal"></div>
			
			<main>
			
				<h1>Nossa História</h1>
			
				<figure id="figImg">
				
					<img src="../../img/indexBackGround.jpg"/>
				
				</figure>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper facilisis erat, id pellentesque lorem efficitur nec. Nam vehicula et metus id pretium. Duis purus ipsum, finibus non arcu quis, volutpat sodales nisi. Phasellus porttitor rutrum nisi sed malesuada. Ut id nisi eget nibh accumsan ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi porttitor nisi non nulla vulputate malesuada. Quisque egestas ante bibendum purus ultrices, quis pellentesque dolor euismod. Sed vitae commodo mauris. Ut malesuada metus sed risus porta, porta faucibus tortor vestibulum. Etiam vel velit finibus, dapibus orci vitae, consectetur augue. Mauris sit amet lectus mattis, rhoncus tortor ac, bibendum metus. Morbi suscipit nibh in sodales volutpat.

				<p>Mauris ut purus velit. Vestibulum quam tellus, porta ut efficitur nec, posuere et neque. Aliquam ac nisi at odio accumsan ultricies. Nam vel erat et sapien accumsan pellentesque ac eget nibh. Nam convallis metus et leo fringilla faucibus. Quisque elementum libero ac pellentesque iaculis. Aenean nec est eu velit efficitur facilisis id et est. Mauris ac semper tellus, id sagittis tellus. Quisque sagittis odio in sapien efficitur aliquet.

				<p>Vestibulum vitae neque et tellus sagittis aliquam. Pellentesque porta odio sed nulla scelerisque, in cursus augue faucibus. Donec non elementum ex, nec semper ex. Maecenas vitae leo mi. Praesent mollis, turpis a tristique molestie, libero libero accumsan orci, id pharetra ante dolor sed mauris. Donec auctor sapien id sollicitudin posuere. Mauris nec nibh felis. Maecenas ipsum mauris, feugiat eu augue at, rutrum rhoncus mauris. Nulla posuere sapien in suscipit gravida. Duis vehicula vulputate ex, sed auctor felis. Nulla porta lectus sed nibh varius aliquet.

				<p>Phasellus porta facilisis ligula, et commodo sem accumsan sed. Mauris sit amet aliquet dui, eu convallis magna. Sed aliquam nisl id neque congue, nec sagittis leo tincidunt. Nunc tellus libero, semper id suscipit eu, hendrerit sit amet nibh. Aliquam et ante lorem. Curabitur sollicitudin metus nisi, a laoreet velit fermentum vitae. Nunc eu viverra arcu, vel condimentum nisi. Duis neque sem, placerat vitae fringilla in, vestibulum vel leo. Praesent condimentum nulla in suscipit ultricies. Nunc eu quam et elit eleifend semper sit amet eget turpis. Cras ullamcorper vestibulum risus nec vestibulum. Proin non dui nec velit gravida laoreet.

				<p>Aliquam laoreet posuere finibus. Phasellus at congue nisi. Quisque bibendum posuere odio in blandit. Pellentesque volutpat vehicula ante vitae vestibulum. Maecenas vulputate, libero sit amet placerat suscipit, est elit elementum turpis, non pharetra metus libero venenatis leo. Sed efficitur ullamcorper mauris sed imperdiet. Cras hendrerit augue et nisl rhoncus efficitur. Pellentesque auctor interdum condimentum. Nunc ultricies augue orci, eu placerat libero ultricies nec. Fusce at ultrices dui.
			
			</main>
		
		</header>

	</body>

</html>