<!doctype html>

<html>

	<head>
	
		<meta charset="utf-8" />
		<title> Painel de controle </title>
		<link rel="stylesheet" type="text/css" href="../_css/painelNossaHistoria.css">
	
	</head>
	
	<body>
	
		<nav>
				
			 <ul>
				
				<span>Nome usuário, bem vindo!</span>
				<li> <input type="image" src="../../img/1486395884-account_80606.png" width="30" height="30"/> 
				
					<ul>
					
						<li> <a href="#"> Informações pessoais </a> </li>
						<li> <a href="#"> Organização </a> </li>
						
						<br>
						<br>
						
						<li> <a href="login.html"> Sair </a> </li>
					
					</ul>
				</li>
					
			</ul> 
				
		</nav>
		
		<div class="linhaH"></div>	
		
		<div id="painel">
		
			<ul>
			
				<li> <a href="painelCelula.html"> <button class="btnMenu">Celula</button> </a> </li>
				<li> <a href="painelParticipantes.html"> <button class="btnMenu">Participantes</button> </a> </li>
				<li> <a href="painelEvento.html"> <button class="btnMenu">Eventos</button> </a> </li>
				<li> <a href="painelMinisterios.html"> <button class="btnMenu">Ministérios</button> </a> </li>
				<li> <a href="painelNossaHistoria.html"> <button class="btnMenu">Nossa História</button></a> </li>
				<li> <a href="painelNoticias.html"> <button class="btnMenu">Notícias</button></a> </li>
			
			</ul>
		
		</div>
		
		<main>
		
			<h1>Nossa História</h1>
			
			<form>
			
				<div id="desc">
				
					<div id="titulo">
					
						<label>Título</label> <br>
						<input type="text" name="txtTitulo"/>
					
					</div>
					
					<br>
					
					<div id="historia">
					
						<label>Historia</label> <br>
						<textarea name="txtHistoria"> </textarea>
					
					</div>
					
					<button id="btnCadastrar" type="submit">Cadastrar</button>
				
				</div>
				
				<input type="file" name="FUimg" id="FUimg">
				
				<div id="img">
					
				</div>
			
			</form>
		
		</main>
	
	</body>

</html>